@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

@keyframes componentRender {
    0% {
        opacity: 0;

    }

    100% {
        opacity : 1 ;
    }
}

@media (width <= 840px) {
	body {
		width: 850px;
	}
}


